.matches {
    max-width: 450px;
    height: 430px;
    /*max-height: 300px;*/
    margin: auto;
    padding: 15px;
    border-radius: 12px;
    background-color: #f5a3e4;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
}

.matches img {
    width: 40px;
    height: 40px;
}
